.about {
  display: flex;
  justify-content: center;
  text-align: center;
  .left {
    flex: 0.3;
    color: $color-grey-dark-3;
  }
  .right {
    flex: 0.7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }
  &--text {
    text-align: justify;
    &__bold,
    &__heading,
    &__link {
      font-size: 2rem;
      color: $color-subtext-1;
      font-weight: bold;
    }
    &__heading {
      margin-bottom: 1rem;
    }
    &__link {
      text-decoration: none;
      font-size: $font-size;
    }
  }
  .languages {
    text-align: left;
    padding: 1rem 0;
    & .language {
      font-family: "Open Sans", sans-serif;
      &__caption {
        padding: 1rem 0;
        color: $color-subtext-2;
        font-style: italic;
      }
    }
  }
}
