@import url(https://fonts.googleapis.com/css?family=Roboto);
// @import url(https://fonts.googleapis.com/css?family=Open + Sans:300, 700);
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
body,
html,
#root {
  height: 100%;
}

html {
  font-size: 62.5%;
  @include respond(big-desktop) {
    font-size: 75%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background-color: #131313;
  // background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPScxMDAlJyBoZWlnaHQ9JzEyMCc+Cgk8ZGVmcz4KCQk8cGF0dGVybiBwYXR0ZXJuVW5pdHM9J3VzZXJTcGFjZU9uVXNlJyBpZD0nYycgd2lkdGg9JzYwJyBoZWlnaHQ9JzEyMCcgeD0nMCcgeT0nMCcgdmlld0JveD0nMCAwIDUgMTAnPgoJCQk8cGF0aCBmaWxsLW9wYWNpdHk9JzAnIHN0cm9rZT0nIzI5MjkyOScgc3Ryb2tlLXdpZHRoPScwLjA5JyBkPSdNLTIsMUw3LDEwTS0yLDZMNywxNU0tMiwtNEw3LDUnLz4KCQk8L3BhdHRlcm4+CgkJPHBhdHRlcm4gcGF0dGVyblVuaXRzPSd1c2VyU3BhY2VPblVzZScgaWQ9J2MyJyB3aWR0aD0nNjAnIGhlaWdodD0nMTIwJyB4PScxMDAlJyB5PScwJyB2aWV3Qm94PScwIDAgNSAxMCc+CgkJCTxwYXRoIGZpbGwtb3BhY2l0eT0nMCcgc3Ryb2tlPScjMjkyOTI5JyBzdHJva2Utd2lkdGg9JzAuMDknIGQ9J003LDFMLTIsMTBNNyw2TC0yLDE1TTcsLTRMLTIsNScvPgoJCTwvcGF0dGVybj4KCTwvZGVmcz4KCTxyZWN0IHdpZHRoPSc1MCUnIGhlaWdodD0nMTAwJScgZmlsbD0ndXJsKCNjKScvPgoJPHJlY3QgeD0nNTAlJyB3aWR0aD0nNTAlJyBoZWlnaHQ9JzEwMCUnIGZpbGw9J3VybCgjYzIpJy8+Cjwvc3ZnPg==');
  // background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: $color-white;
  font-family: "Roboto";
  // font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
.title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1em;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25em;
    height: 0.14em;
    width: 3em;
    background: $color-secondary-light;
  }
}
.card {
  padding: 1rem;
  display: flex;
  margin-bottom: 1rem;
  box-shadow: 0 2.5px 5px rgba(25, 25, 25, 0.1);
  border: 1px solid #8080801a;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  font-size: $font-size;
  font-weight: 700;
  cursor: pointer;
}
.tag__Group {
  display: flex;
  flex-flow: row;
  margin-top: 1rem;
  & .tag__Tag {
    margin: 2px;
    background-color: rgb(41, 47, 53);
    display: inline-flex;
    font-size: 12px;
    font-weight: 500;
    line-height: 1;
    border-radius: 4px;
    padding: 6px 8px;
    transition: background 0.2s ease-in;
    color: $color-white;
  }
}
