@import url(https://fonts.googleapis.com/css?family=Roboto);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include respond(big-desktop) {
    font-size: 75%;
  }
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  @include respond(tab-port) {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  color: $color-white;
  font-family: "Roboto";
}
::selection {
  background-color: $color-primary;
  color: $color-white;
}
.title {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1em;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.25em;
    height: 0.14em;
    width: 3em;
    background: $color-secondary-light;
  }
}
