.home {
    .left {
        align-self: center;
        flex: 1;
    }
    .right {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
        .fade {
            display: inline-flex;
        }
        .header {
            margin-top: 5rem;
        }
        .code {
            font-size: $font-size;
            font-family: Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
            color: $color-white;
            text-align: left;
            flex: 0.5;
            & > * {
                margin: 2rem;
            }

            &--green {
                color: $color-code-green;
            }
            &--darkblue {
                color: $color-tertiary-dark;
            }
            &--lightblue {
                color: $color-tertiary-light;
            }
            &--yellow {
                color: $color-code-yellow;
            }
            &--red {
                color: $color-code-brown;
            }
            &__block {
                width: 40rem;
            }
        }
    }
}
