.infopane {
    height: 100%;
    margin: 0;
    display: grid;
    place-items: center;
}
.infopane__text {
    transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    text-align: left;
    font-weight: bold;
    letter-spacing: 3px;
    font-size: $font-size;
    color: $color-grey-dark-3;
    background-color: $color-grey-light-2;
    padding: 4rem;
    border-radius: 11px;
    position: relative;
    box-shadow: 20px 20px $color-grey-dark-2;

    & h4 {
        text-decoration: underline;
        margin-bottom: 2rem;
    }
}
.helloworld__text:after {
    transform: translatey(0px);
    animation: float2 5s ease-in-out infinite;
    content: ".";
    font-weight: bold;
    // -webkit-text-stroke: 0.5px $color-green;
    -webkit-text-fill-color: $color-grey-dark;
    // border: 1px solid $color-green;
    text-shadow: 22px 22px $color-grey-dark-2;
    text-align: left;
    font-size: $font-size * 2;
    width: 3rem;
    height: 0.7rem;
    line-height: 30px;
    border-radius: 11px;
    background-color: $color-grey-dark;
    position: absolute;
    display: block;
    bottom: -30px;
    left: 0;
    box-shadow: 22px 22px $color-grey-dark-2;
    z-index: -2;
}
@keyframes float {
    0% {
        transform: translatey(0px);
    }
    50% {
        transform: translatey(-20px);
    }
    100% {
        transform: translatey(0px);
    }
}

@keyframes float2 {
    0% {
        line-height: 30px;
        transform: translatey(0px);
    }
    55% {
        transform: translatey(-20px);
    }
    60% {
        line-height: 10px;
    }
    100% {
        line-height: 30px;
        transform: translatey(0px);
    }
}
