.skills {
  padding: 3rem;
  display: flex;
  flex-flow: column wrap;
  &--container {
    @media screen and (min-width: 600px) and (max-width: 799px) {
      @include flexgrid(2, 2rem);
    }
    @media screen and (min-width: 800px) and (max-width: 999px) {
      @include flexgrid(3, 2rem);
    }
    @media screen and (min-width: 1000px) {
      @include flexgrid(4, 2rem);
    }
  }

  & .skill {
    padding: 1rem 0;
    display: flex;
    margin-bottom: 1rem;
    box-shadow: 0 2.5px 5px rgba(25, 25, 25, 0.1);
    border: 1px solid #8080801a;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    font-size: $font-size;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      border-color: #8080804d;
    }
    &:hover .skill--info {
      transition: color 0.3s ease;
      color: $color-secondary-light;
    }
    &:hover .skill--logo {
      transition: opacity 0.3s ease;
      opacity: 0.7;
    }
    &--logo {
      flex: 0.3;
      text-align: center;
    }
    &--info {
      & h4 {
        text-transform: uppercase;
        font-size: 0.75rem;
        margin: 0 0 0.75rem 0;
        border-bottom: 0.125rem solid $color-grey-dark-2;
        letter-spacing: 0.0625rem;
        padding: 0 0 0.25rem 0;
        color: $color-grey-dark-2;
      }
      & h3 {
        line-height: 1.4;
        margin: 0 0 0.5rem 0;
      }
    }
  }
}
.languages {
  padding: 0 3rem;
  display: flex;
  flex-flow: column wrap;
  & .language {
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    &__caption {
      padding: 2rem 0;
      color: $color-subtext-2;
      font-size: $font-size;
      font-style: italic;
    }
  }
  
}
