.work {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    text-align: center;
    .left {
        flex: 0.4;
        margin: 5rem;
    }
    .right {
        flex: 0.6;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
}
