.work {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  color: $color-grey-dark-3;

  @include respond(tab-port) {
    flex-flow: column-reverse;
  }
  .left {
    flex: 0.4;
    margin: 5rem;

    & .infopane--heading {
      font-weight: 700;
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    & .icon__Group {
      margin: 1rem 0;
      margin-bottom: 0;

      & > a {
        margin: 2px;
      }
    }
  }
  .right {
    flex: 0.6;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
}
