@import "./Sass/variables";
@import "./Sass/mixins";
@import "./Sass/base";
@import "./Sass/common";
@import "./Sass/portrait";
@import "./Sass/header";
@import "./Sass/infopane";
@import "./Sass/typewriter";
@import "./Sass/slider";
@import "./Sass/timelines";
@import "./Sass/nav";
@import "./Sass/home";
@import "./Sass/about";
@import "./Sass/work";
@import ".//Sass/skills";
@import ".//Sass/experience";

.App {
  position: relative;
  display: flex;
  flex-flow: column;
}
